.history-form{
    background-color: rgb(29, 229, 96);
    padding: 70px;
}
.small{
    margin: 5px;
}
/* .medicine{
    width: 30%;
    margin: auto;
}
.sub{
    float: right;
} */
.sub{
    float: right;
} 